body {
    background-color: black;
}
.ig-post {
    height: 520px;
    width: 404px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    /* width: 400px; */
    /* height: 60px; */
}

.header-text{
    line-height: 1.4;
    margin-left: 10px;


}
.post-image {
    height: 250px;
}

.post-image > img {
    width: 100%;
    height: 100%;
}

.post-icons {
    width: 400px;
    height: 40px;
}

.post-body {
    height: 140px;
    padding: 10px;
}

.right {
    float: right;
    /* position: relative; */
    right: 12px;
    bottom: 8px;
    
}

.left{
    display: flex;
    align-items: center;
    /* position: relative; */
    /* left: 9px;
    top: 10px; */
}


.right-icon{
    position: relative; 
    bottom: 5px;
    left: 370px;
}

.icons-left{
    position: relative;
    left: 10px;
    top: 13px;

}




